#createFormDiv { 
  position: 'relative';
  left: 20vw;
  border: 2px solid #1c3868;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vh;
  border-radius: 20px;
  background-color: #b2ddca;
}