{% extends '_base.html' %}

{% block content %}
<span>{{post.title}}</span>
<br>
<!-- <img src="/uploads/" -->
<span>{{ post.user }}</span>
<br>
<span>{{ post.created_at }}</span>
<br>
{% if post.company_website %}
<span>{{ post.company_website }}</span>
{% endif %}
<br>
<img src="/uploads/{{post.product_image}}" height="200px" width="200px"/>
<br>
{{ post.description }}
<br>
{% if user.is_staff %}
<a href="/post/{{ post.id }}/delete"><button>Delete</button></a>
{% endif %}
<br>
<span>Add a comment!</span>
<br>
{% if user.is_authenticated %}
<form method="POST" action="/post/{{ post.id }}/addcomment">
  {% csrf_token %}
  {{ addform.as_p }}
  <input type='submit' />
</form>
{% endif %}
<h3>Comments: </h3>
{% for comment in comments %}
{% if comment.user.avatar %}
<span><img src="/uploads/{{ comment.user.avatar }}" height="50px" width="50px" />
{% endif %}
<span>{{ comment.user }} - {{ comment.body }} <a href="/comment/{{ comment.id }}/like">Like</a>: 
{{ comment.likes }} <a href="/comment/{{ comment.id }}/dislike">Dislikes</a>: {{ comment.dislikes }}
{{ comment.created_at }} </span>
<br>
{% endfor %}
<br>
{% endblock %}