{% extends '_base.html' %}

{% block content %}
{{post.title}}
<br>
<!-- <img src="/uploads/" -->
{{ post.user }}
<br>
{{ post.created_at }}
<br>
{% if post.company_website %}
{{ post.company_website }}
{% endif %}
<br>
<img src="/uploads/{{post.product_image}}" height="200px" width="200px"/>
<br>
{{ post.description }}
<br>
{% if user.is_staff %}
<a href="/post/{{ post.id }}/delete"><button>Delete</button></a>
{% endif %}
<br>
Add a comment!
<br>
{% if user.is_authenticated %}
<form method="POST" action="/post/{{ post.id }}/addcomment">
  {% csrf_token %}
  {{ addform.as_p }}
  <input type='submit' />
</form>
{% endif %}
<h3>Comments: </h3>
{% for comment in comments %}
{{ comment.user }} - {{ comment.body }} <a href="/comment/{{ comment.id }}/like">Like</a>: 
{{ comment.likes }} <a href="/comment/{{ comment.id }}/dislike">Dislikes</a>: {{ comment.dislikes }}
{{ comment.created_at }}
<br>
{% endfor %}
<br>
{% endblock %}